<div class="guest-container">
  <div class="guest-description">
    <h2>Email-like</h2>
    <p>a simpler email exchange</p>
  </div>

  <div class="guest-login">
    <div class="guest-login-description">Sign in</div>
    <div class="guest-form">
      <%= form_for(:session, url: login_path, method: :post) do |f| %>


        <div class="guest-form-divider">
          <%= f.label :username %>
          <%= f.text_field :username%>
        </div>

        <div class="guest-form-divider">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div class="guest-form-divider">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
    <div class="guest-signing">
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>

</div>