<%= form_for @email, method: :post, html: { class: "new-email-form" }, url: new_email_path do |f| %>

    
  <div class="new-email-form-input">
    <%= f.label :username, "To", class: "new-email-form-label" %>
    <%= f.text_field :username, :autocomplete => :off %>
  </div>
  <div class="new-email-form-input">
    <%= f.label :title, "Title", class: "new-email-form-label" %>
    <%= f.text_field :title, autocomplete: :off %>
  </div>        
  <div class="new-email-form-input">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>        

  <%= f.submit "Send message", class: "new-email-form-button" %>
  <%= f.submit "Save as draft", class: "new-email-form-button new-email-draft-button", name: "save_draft" %>

<% end %>